<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/biblio</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
      <property name="connection.username">root</property>
      <property name="connection.password">root</property>
      <mapping resource="AutorEntity.hbm.xml"/>
      <mapping class="org.example.entidades.AutorEntity"/>
      <mapping resource="LibroEntity.hbm.xml"/>
      <mapping class="org.example.entidades.LibroEntity"/>
      <mapping resource="PrestamoEntity.hbm.xml"/>
      <mapping class="org.example.entidades.PrestamoEntity"/>
      <mapping resource="UsuarioEntity.hbm.xml"/>
      <mapping class="org.example.entidades.UsuarioEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>